.ciyilist-container {
  height: 100%;
}

.ciyilist-container .navBar {
  color: #333;
  background-color: #f6f5f6;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}

.ciyilist-container .navBar .icon-back {
  font-size: 16px;
  color: #333;
}

.ciyilist-container .city-list .title {
  font-size: 14px;
  color: #999;
  padding: 10px 16px;
}

.ciyilist-container .city-list .name {
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  font-size: 16px;
  border-bottom: 1px solid #eee;
}

.ciyilist-container .city-index {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 5px;
  z-index: 1;
  height: 90%;
  box-sizing: border-box;
  padding-top: 20px;
  text-align: center;
}

.ciyilist-container .city-index .city-index-item {
  flex: 1;
}

.ciyilist-container .city-index .index-active {
  color: #fff;
  background-color: #21b97a;
  border-radius: 100%;
  display: inline-block;
  font-size: 12px;
  width: 15px;
  height: 15px;
  line-height: 15px;
}
