.ciyilist_container {
    height: 100%;
}

.city_index {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 5px;
    z-index: 1;
    height: 90%;
    box-sizing: border-box;
    padding-top: 20px;
    text-align: center;
}
.city_index_item {
    flex: 1;
}
.index_active {
  color: #fff;
  background-color: #21b97a;
  border-radius: 100%;
  display: inline-block;
  font-size: 12px;
  width: 15px;
  height: 15px;
  line-height: 15px;
}

.title {
  font-size: 14px;
  color: #999;
  padding: 10px 16px;
}
.name {
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  font-size: 16px;
  border-bottom: 1px solid #eee;
}