* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  touch-action:pan-y ;
}

html, body {
  height: 100%;
  font-family: 'Microsoft YaHei';
  color: #333;
  background-color: #fff;
}
#root, .App {
  height: 100%;
}
ul, li {
  list-style: none;
}

.am-tab-bar-bar {
  z-index: 1;
}
.body-fixed{
  overflow: hidden;
}